name: Go Lint

on:
  push:
    branches:
      - v2.x
  pull_request:
    branches:
      - v2.x

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9